<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<p>
Contact Ruby on Rails Tutorial about the same app at the

<a href="http://railstutorial.org/contact"> contact pag</a>

sample applicaiton sw :-).
</p>
	






